<p>
  <mat-toolbar color="primary" style="column-gap: 10px;">
    <span>My App</span>
    <span class="example-spacer"></span>
    <a mat-raised-button color="accent" href="/reservarMesa">Reservar Mesa</a>
    <a mat-button color="accent" href="">Listar Reservas</a>
    <!-- <a href="/reservarMesa">reservar mesa</a>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>
</p>

<div class="container">
  <router-outlet></router-outlet>
</div>